<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Creative Code</title>
</head>

<body class="colorDeFondo">
    <div class="container">
        <div class="row">
            <div class="col">
                <!---->
                <div
                    class="card position-absolute top-50 start-50 translate-middle TipoDeLetra border-0 shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../img/IconoDeUser.png" class="TamañoDeImgPrincipalPagina" alt="">
                        </div>
                        <h2 class="text-center mt-4">EN ESTE ESPACIO PUEDES TRABAJAR SOLO COLOCOQUE UN BOTON PARA QUE TE
                            PUEDAS
                            REGRESAR, PERO TU PUEDES EMPEZAR A DARLE MAS FUNCIONALIDAD A TU PLANTILLA</h2>
                        <!--ESPACIO DE BOTONES-->
                        <div class="d-grid gap-2">
                            <a href="../index.html" class="btn ColorDePrimerBoton rounded-pill"
                                type="button">Regresar</a>
                        </div>
                        <!--ESPACIO DE BOTONES-->
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
        <!--COLOCAMOS JS DE LA MASCARA DE CARGA-->
        <script src="../js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
        <script src="../js/mascaraDeCarga/jquery.blockUI.js"></script>
        <script src="../js/mascaraDeCarga/mascara.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>